.cache/
.coverage
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
.pnp.js
.tox*
.venv*
.vscode/
*.env
*.log
*.pyc
/.pnp
/*/__pycache__/
/*/build/
/*/coverage/
/*/logs/
/*/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
